body {
  padding-top: 56px;
}

.crop {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

    .crop img {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 125%;
        object-fit: cover;
    }